.header-header {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 127px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.header-root-class-name {
  align-self: center;
}
